* {
	padding: 0;
	margin: 0;
}

#title {
	font-size: 30.5px;
	color: white;
	text-align: center;
	
}

body {
	background-color: black;
}

#tune {
	left: 40px;
}

#uri1 {
	width: 338px;
	height: 30.5px;
	vertical-align: top;
	text-align: center;
	margin: auto;
	border: 2px solid white;
	border-radius: 15px;
}

#comment1 {
	width: 338px;
	height: 79.8px;
	text-align: center;
	border: 2px solid white;
	border-radius: 15px;
}